<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Houses Page</title>
</head>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <a class="navbar-brand" href="{% url 'persons' %}">Person</a>
    <a class="navbar-brand" href="{% url 'houses' %}">House</a>
</nav>
<body>
<div class="container">
    <div class="container" id="mode">
    <h1>House Table</h1>
    <h2>Mode</h2>
    <form method="get">
        <button type="submit" name="mode" value="add" class="btn btn-default">Add</button>
        <button type="submit" name="mode" value="edit" class="btn btn-default">Edit</button>
    </form>
        </div>
    <div class="container" id="form-container">
    {% if mode == 'add' %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="address">Address</label>
        <input id="address" type="text" name="address" placeholder="address"  class="form-control">
        </div>
        <div class="form-group">
        <label for="houseType">House Type</label>
        <input id="houseType" type="text" name="houseType" placeholder="house type"  class="form-control">
        </div>
        <button type="submit" name="createHouse">Create House</button>
    </form>
    {% elif mode == 'edit' %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="eID">ID</label>
        <input id="eID" type="text" name="id" placeholder="id"  class="form-control">
        </div>
        <div class="form-group">
        <label for="eAddress">Address</label>
        <input id="eAddress" type="text" name="address" placeholder="address"  class="form-control">
        </div>
        <div class="form-group">
        <label for="eHouseType">House Type</label>
        <input id="eHouseType" type="text" name="houseType" placeholder="house type"  class="form-control">
        </div>
        <button type="submit" name="editHouse" class="btn btn-default">Edit House</button>
    </form>
    {% endif %}
    </div>
    <div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Type</th>
                <th>Delete</th>
            </tr>
        </thead>
            <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.houseType }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ item.id }}" name="id">
                        <button type="submit" name="deleteHouse" class="btn btn-default">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
</body>
</html>