<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons Page</title>
</head>
<body>
    <h1><a href="{% url 'persons' %}">Person</a> <a href="{% url 'houses' %}">House</a></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>HouseID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Birth</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>